@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-image: url(/img/background-img.jpg);
  background-repeat: no-repeat;
  margin: auto;

}

/* INICIO DO HEADER - MENU */
header {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 50px 0px;
  height: 10px;
  align-items: center;
  justify-content: space-around;
  max-width: 1920px;
}

.logo img {
  margin: 50px;
  max-height: 70px;
  max-width: 70px;
}

nav {
  display: flex;
  gap: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-family: 'Work Sans';
}

nav a {
  text-decoration: none;
  color: #fff2f3;
}

/* FINAL DO HEADER - MENU */

main {

  display: flex;
  flex-direction: column;
  margin: 100px;
  justify-content: center;
  align-items: center;
}

.start-form {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  max-width: 1440px;
  width: 1000px;
}

/* Possui bastante bgcolor pra ficar mais facil de visualizar (depois é removido). */

.start-form-left form {
  background-color: orange;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;

}

.start-form-left h1 {
  background-color: blue;
  color: white;
  font-family: 'Crimson Text';
  letter-spacing: 1px;
  font-size: 40px;
}

.start-form-left label {
  background-color: red;
}

#name-formulario {
  max-width: 200px;
  height: 20px;
}

/*
.start-form-right {
  background-color: rgba(0, 0, 0, 0.2);
}
  */

.start-form-right img {
  width: 400px;
}

.form-duvidas {
  display: flex;
}

.termos {
  display: flex;
}