@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-image: url(/img/background-img.jpg);
  background-repeat: no-repeat;
  margin: auto;

}

/* INICIO DO HEADER - MENU */
header {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 50px 0px;
  height: 10px;
  align-items: center;
  justify-content: space-around;
  max-width: 1920px;
}

.logo img {
  margin: 50px;
  max-height: 70px;
  max-width: 70px;
}

nav {
  display: flex;
  gap: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-family: 'Work Sans';
}

nav a {
  text-decoration: none;
  color: #fff2f3;
}

/* FINAL DO HEADER - MENU */

main {
  display: flex;
  max-width: 800px;
  max-height: 500px;
  margin-top: 100px;
  margin-left: 400px;
  padding: 50px;
}

.start-form {
  display: flex;
  max-width: 1440px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  border-radius: 30px;
}

/* Possui bastante bgcolor pra ficar mais facil de visualizar (depois é removido). */

.start-form-left form {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
  padding: 40px;

}

.start-form-left h1 {
  display: flex;
  justify-content: center;
  font-family: 'Crimson Text';
  color: white;
  letter-spacing: 1px;
  font-size: 40px;
}

.start-form-left label {
  display: flex;
  margin: 1px;
  gap: 20px;
  font-family: 'Work Sans';
  color: white;
}

.start-form-left p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans';
  color: white;
}

#name-formulario {
  max-width: 400px;
  height: 20px;
  font-family: 'Work Sans';
}

#name-formulario2 {
  margin-bottom: 2px;
  max-width: 400px;
  height: 20px;
  font-family: 'Work Sans';
}

#duvida1 {
  margin: 5px;
  width: 20px;
  height: 20px;
}

#msg {
  margin-bottom: 2px;
  max-width: 400px;
  height: 80px;
  font-family: 'Work Sans';
  resize: none;
}

#aceitar {
  width: 18px;
  margin-bottom: 2px;
  max-width: 200px;
  height: 55px;
  font-family: 'Work Sans';

}

#send-button {
  background-color: black;
  margin-left: 90px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Work Sans';
  color: white;
  font-size: 15px;
  font-weight: bold;
  max-width: 200px;
}

.start-form-right img {
  width: 400px;
}

.form-duvidas {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.termos {
  display: flex;
}