body {
  background-image: url(/img/background-img.jpg);
  background-repeat: no-repeat;
  margin: auto;

}

/* INICIO DO HEADER - MENU */
header {
  /*  background-color: #180101; */
  display: flex;
  padding: 50px 0px;
  height: 10px;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  margin: 50px;
  max-height: 70px;
  max-width: 70px;

}

nav {
  display: flex;
  gap: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-family: 'Lucida Sans';
}

nav a {
  text-decoration: none;
  color: #fff2f3;
}

.login a {
  margin: 20px;
  gap: 100px;
}

.signup a {
  font-size: 20px;
  padding: 5px;
  color: #2c0101;
  background-color: aliceblue;
  border-radius: 8px;
}

/* FINAL DO HEADER - MENU */

main {
  background-color: blue;
  max-width: 1920px;
  width: 100%;

}

.inicio {
  display: block;
  margin: 100px;
  background-color: aquamarine;

}

h1 {
  align-items: center;
  justify-content: center;
  background-color: red;
}