body {
  background-color: orange;
  margin: auto;
}

header {
  background-color:rgb(30, 30, 30);
  display: flex;
  padding: 50px 0px;
  height: 10px;
  align-items: center;
  justify-content:space-between;


}

.logo img {
  margin: 50px;
  max-height: 70px;
  max-width: 70px;

}

nav {
  background-color: red;
  display: flex;
  gap: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-family:'Lucida Sans';


}

nav a{
  text-decoration: none;
  color: white;
}

.login {
  background-color: blue;
  font-size: 60px;


}