body {
  background-color: #5d5d5d;
  margin: auto;
}

header {
  background-color: #2c0101;
  display: flex;
  padding: 50px 0px;
  height: 10px;
  align-items: center;
  justify-content:space-around;


}

.logo img {
  margin: 50px;
  max-height: 70px;
  max-width: 70px;

}

nav {
  display: flex;
  gap: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-family:'Lucida Sans';
}

nav a{
  text-decoration: none;
  color: white;
}

/*.login {
  background-color: purple;
}
  */

.login a{
  margin: 20px;
  gap: 100px;
}

.signup {

}

.signup a {
  font-size: 20px;
  padding: 5px;
  color: #2c0101;
  background-color: aliceblue;
  border-radius: 8px;
    
}
.signup a:hover{
  text-decoration: underline;
}